<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="de6b9c">  <td>21/03/10 02:37:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;register.initWebDriver()[pri:0, instance:com.anz.SampleTestcases.register@6236eb5f]">&gt;&gt;initWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1804379080</td>   <td></td> </tr>
<tr bgcolor="de6b9c">  <td>21/03/10 02:37:31</td>   <td>16487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="register.registratioTest(java.lang.String)[pri:1, instance:com.anz.SampleTestcases.register@6236eb5f]">registratioTest</td> 
  <td>main@1804379080</td>   <td></td> </tr>
<tr bgcolor="de6b9c">  <td>21/03/10 02:37:50</td>   <td>35756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="register.usernameCheckTest(java.lang.String)[pri:2, instance:com.anz.SampleTestcases.register@6236eb5f]">usernameCheckTest</td> 
  <td>main@1804379080</td>   <td></td> </tr>
<tr bgcolor="de6b9c">  <td>21/03/10 02:37:50</td>   <td>35841</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;register.logout()[pri:0, instance:com.anz.SampleTestcases.register@6236eb5f]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1804379080</td>   <td></td> </tr>
<tr bgcolor="c1a3bc">  <td>21/03/10 02:37:53</td>   <td>39268</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddingCart.initWebDriver()[pri:0, instance:com.anz.SampleTestcases.AddingCart@69fb6037]">&gt;&gt;initWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1804379080</td>   <td></td> </tr>
<tr bgcolor="c1a3bc">  <td>21/03/10 02:38:04</td>   <td>49760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddingCart.loginTest(java.lang.String)[pri:1, instance:com.anz.SampleTestcases.AddingCart@69fb6037]">loginTest</td> 
  <td>main@1804379080</td>   <td></td> </tr>
<tr bgcolor="c1a3bc">  <td>21/03/10 02:38:11</td>   <td>57338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddingCart.addingCartTest(java.lang.String)[pri:2, instance:com.anz.SampleTestcases.AddingCart@69fb6037]">addingCartTest</td> 
  <td>main@1804379080</td>   <td></td> </tr>
<tr bgcolor="c1a3bc">  <td>21/03/10 02:38:27</td>   <td>72445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddingCart.checkCartDetails()[pri:3, instance:com.anz.SampleTestcases.AddingCart@69fb6037]">checkCartDetails</td> 
  <td>main@1804379080</td>   <td></td> </tr>
<tr bgcolor="c1a3bc">  <td>21/03/10 02:38:27</td>   <td>72495</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddingCart.logout()[pri:0, instance:com.anz.SampleTestcases.AddingCart@69fb6037]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1804379080</td>   <td></td> </tr>
</table>
